
.onboarding-backgroundmask {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  
  height: 100%;
}
.bg-child {
  position: absolute;
  
  top: 0%;
  right: 0%;
  bottom: 0;
  left: 0%;
  background: linear-gradient(46.1deg, #f0a347, #e65506);
}
.bg-inner,
.bg-item {
  mix-blend-mode: normal;
}
.bg-item {
  position: absolute;
  height: 13.72%;
  
  top: 58.73%;
  right: 14.31%;
  bottom: 27.55%;
  left: 66.04%;
  border-radius: 50%;
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.4) 0.01%,
    rgba(255, 255, 255, 0)
  );
  opacity: 0.5;
}
.bg-inner {
  height: calc(36.13vw * 0.7); 
  
  top: 17.56%;
  right: 4%;
  bottom: 57.21%;
  left: 63.87%;
  border: 4px dashed var(--color-white);
  box-sizing: border-box;
  opacity: 0.2;
  position: absolute;
}
.bg-child1,
.bg-inner,
.ellipse-div {
  position: absolute;
  border-radius: 50%;
}
.ellipse-div {
  height: 23.01%;
  
  top: 3.73%;
  right: 7.08%;
  bottom: 73.26%;
  left: 59.97%;
  background: linear-gradient(
    34.7deg,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.04)
  );
}
.bg-child1 {
  height: 30.58%;
  width: 43.79%;
  top: 0;
  right: 2.6%;
  bottom: 69.42%;
  left: 53.61%;
  background: linear-gradient(
    153.55deg,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0) 91.91%
  );
}
.group-icon {
  position: absolute;
  height: 47.17%;
  width: 67.54%;
  top: 42.71%;
  right: 9.91%;
  bottom: 10.12%;
  left: 22.54%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.bg-child2 {
  width: 48.99vw; /* Adjust this value as needed */
  height: calc(48.99vw * 0.7); /* This maintains the aspect ratio (34.21% / 48.99% ≈ 0.7) */
  max-width: 500px; /* Adjust this value as needed */
  max-height: 350px; /* Adjust this value to maintain the aspect ratio with max-width */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centering the element */
  border-radius: 50%;
  border: 4px dashed var(--color-white);
  box-sizing: border-box;
  opacity: 0.3;
  mix-blend-mode: normal;
}

.bg,
.bg-child2,
.bg-child3 {
  position: absolute;
}
.bg-child3 {
  height: 16.15%;
  width: 23.12%;
  top: 12.51%;
  right: 51.01%;
  bottom: 71.34%;
  left: 25.87%;
  border-radius: 50%;
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.4) 0.01%,
    rgba(255, 255, 255, 0)
  );
  opacity: 0.67;
  mix-blend-mode: normal;
}
.bg {


  
  
  bottom: 0;
  
}

/* Container for the entire app */
.app-container {
  position: relative;
  height: 100%;
  overflow: hidden;
}

/* Making the form come to the front */
.form-container {
  position: relative;
  z-index: 2;
  
 
}

/* Setting the background behind the form */
.bg {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.form-container {
  width: 100%;
  height: 100vh;
  
  
  box-sizing: border-box;
  padding: 2em;
  font-family: Arial, sans-serif;
  font-size: 16px; /* Default font size */
  overflow: auto;
}

.loader-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);  /* semi-transparent black */
  z-index: 1000; /* Ensure it's on top */
  display: flex;
  align-items: center;
  font-family: Arial, sans-serif;
  justify-content: center;
}

.loader-modal {
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.loader-modal p {
  color: #0D2261;
  font-size: 16px;
  font-family: Arial, sans-serif;
  font-style: italic;
  margin: 2rem;
}


.form-border {
  border: 1px solid #E65506; /* Border color */
  border-radius: 15px; /* Rounded corners */
  margin: 0 auto; /* Centering the form */
  padding: 20px; /* Internal spacing */
  background-color: white; /* Background color */
  max-width: 500px; /* Maximum width for larger screens */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow for depth */
  box-sizing: border-box; /* Makes sure padding doesn't add extra width */
}


.logo {
  text-align: center;
  font-size: 1.8em;
  font-weight: bold;
  color: white;
  margin-bottom: 1em;
}

.header {
  text-align: center;
  color: white;
  margin-bottom: 2em;
}

.header h1 {
  font-size: 1.2em;
}

.header p {
  font-size: 0.9em;
}

.input-group {
  margin-bottom: 0.5em;
  font-size: 0.7rem;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc !important;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 0.9em;
}

textarea {
  resize: none;
  height: 80px;
}

button {
  width: 100%;
  padding: 8px;
  border: none;
  
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  box-sizing: border-box;
  font-size: 0.9em;
  border-radius: 1rem;
  background: linear-gradient(91deg, #0D2261 20.31%, #0D2261 147.12%);
  box-shadow: 0px 30px 30px 0px rgba(170, 170, 170, 0.15);
}
.blue-text{
  color: #0D2261;
}
.orange-text{
  color: #E65506;
}
button:hover {
  background-color: #FFE6D5;
}
.header h4 {
  margin-bottom: 15px; /* Spacing between the title and the divider */
  padding-bottom: 5px; /* Spacing between the text and the divider */
  border-bottom: 1px solid #D0D0D0; /* Gray divider */
  
}
.header p{
  color:#555568;
  font-size: 0.7rem;
}

.planner-results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: #E65506; /* Based on your previous input */
}

.planner-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
}

.back-button {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.logo {
  width: 80px; /* Adjust based on your logo's dimensions */
}

.strategy-list {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.strategy-title{
  margin-right: 10px; 
}
.strategy-desc{
  color: #555568;
  font-size: 0.9rem !important;
}

p{
  font-size: 1rem !important;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
.header-wrapper {
  display: flex;
  justify-content: space-between; /* Adjusts the space between the items, if needed */
  align-items: center; /* Vertically aligns the items in the center */
}

.strategy-item {
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.08);

  border-radius: 8px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.rating {
  vertical-align: middle; 
}

.try-again-button {
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  margin-top: 2rem;
  cursor: pointer;
}


/* Responsive media query for smaller devices */
@media only screen and (max-width: 600px) {
  .form-container {
      padding: 1em;
  }

  .logo {
      font-size: 1.3em;
  }

  .header h4 {
      font-size: 1.1em;
  }

  .header p, input, textarea, button {
      font-size: 1em;
  }
}
