.splash-backgroundmask {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fffbfc;
    width: 25.88rem;
    height: 100%;
  }
  .bg-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 43.13rem;
    height: 72.67rem;
    opacity: 0.7;
    mix-blend-mode: normal;
  }
  .layer-2-icon {
    position: absolute;
    height: 7.14%;
    width: 71.01%;
    top: 35.49%;
    right: 14.49%;
    bottom: 57.37%;
    left: 14.49%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .situated-in-purwokerto {
    position: absolute;
    top: calc(50% - 41px);
    left: calc(50% - 145px);
    line-height: 1.5rem;
    display: inline-block;
    width: 18.06rem;
  }
  .splash {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
    font-size: 1rem;
    color: #0d2261;
    font-family: var(--font-dm-sans);
  }
  